/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.content {
  max-width: 500px;
  margin: auto;
}

.modal-backdrop.fade {
  opacity: 0.5;
}

.modal-open .modal {
  opacity: 1;
}
